{% extends 'index.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}
{% load static %} 


<form method="POST" action="">

    {% csrf_token %}
    <div class = "create-task">
    <link rel="stylesheet" href="{% static 'css/bootstrap-create-task.css' %}"/>
    <h1 style = "text-align: center;background-color: #DFE8CC; border-radius: 15px 15px 15px 15px; padding: 10px; ">Task Baru</h1>
    <body>
        <style>
            table, th, td, button {
              
              padding: 5px;
            }
            table {
              border-spacing: 5px;
            }
            </style>

    <table>
        <div class="box-create-task">
        <tr>
            <td style = "text-align: left; border-radius: 15px 15px 15px 15px; background-color: #27496D; color: rgb(255, 255, 255); padding: 10px; ">To do: </td>
            <td><input type="text" name="todo" placeholder="TO DO" class="form-control"></td>
        </tr>
        </div>
                
        <tr>
            <td style = "text-align: left; border-radius: 15px 15px 15px 15px; background-color: #27496D; color: rgb(255, 255, 255); padding: 10px; ">Description: </td>
            <td><input type="text" name="description" placeholder="DESCRIPTION" class="form-control"></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn login_btn" type="submit" value="Submit" href="{% url 'todolist:show_todolist' %}"></td>
        </tr>
    </table>
    </body>
    </div>
        
</form>



{% endblock content %}