{% extends 'index.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
{% load static %}

<div class = "login">
    <link rel="stylesheet" href="{% static 'css/bootstrap-login.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap" rel="stylesheet">
    <body style = "text-align:center; padding: 5px;  color: rgb(0, 0, 0);">
    <h1 style = "text-align: center;background-color: #DFE8CC; border-radius: 15px 15px 15px 15px; padding: 10px; ">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}

        <table>
            <div class="box-login">
            <tr>
                <td>Username: </td>
                <td style = "padding: 10px; "><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
            </div>
                    
            <tr>
                <td >Password: </td>
                <td style ="padding: 10px; "><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td ></td>
                <td><input class="login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style = "color: rgb(255, 255, 255); ">{{ message }}</li>
            {% endfor %};
        </ul>
    {% endif %}     
        
    
        <h5>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h5>

</body>
</div>

{% endblock content %}