{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    <body style = "font-family:'Courier New';text-align:left; padding: 5px; background-color: #1B2430; color: rgb(0, 0, 0);">
    <h1 style = "text-align:center;font-size: 30px; background-color: #D4F6CC; border-radius: 10px 10px 10px 10px; color: rgb(0, 0, 0); padding: 5px;">Formulir Registrasi</h1> 
    <style>
        table, th, td, {
          
          padding: 5px;
        }
        table {
          border-spacing: 5px;
        }
        </style> 

        <form method="POST" >  
            {% csrf_token %}  
            <table style = "text-align: left; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td ><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
    </body>

</div>  

{% endblock content %}