{% extends 'index.html' %}

{% block content %}
{% csrf_token%}
{% load static %}

<body>
  <nav>
    <div class="logo">
      <h4>Syafri Barry Salim</h4>
    </div>
    <ul>
      <li><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></li>
      <li><a href="{% url 'todolist:logout' %}">Logout</a></li>
      <li><a href="">Aboout</a></li>
    </ul>
    <div class="menu-toggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pacifico&display=swap" rel="stylesheet">
  
</nav>
<br></br>
    <h1 style = "text-align:center;font-size: 30px; background-color: #D4F6CC; border-radius: 10px 10px 10px 10px; color: rgb(0, 0, 0); padding: 5px;">  Tugas 4 PBP/PBD</h1>    
<h5 style = "text-align:center;font-size: 32px; background-color: #F1A661; color: rgb(255, 255, 255); padding: 5px;">Holaaaaaa, {{nama}} 🙌</h5>
<br></br>
<style>
    table, th, td, button {
      
      padding: 5px;
    }
    table {
      border-spacing: 5px;
    }
</style>
    


<table style="width:100%">
    <tr>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Date</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Tittle</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Deskripsi</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Selesai/Belum Selesai</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Mengubah Status</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Hapus</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
{% for list in list_todo %}
<tr>
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;" >{{list.date}}</th>
    <th style = "text-align: left; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">{{list.title}}</th>
    <th style = "text-align: left; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">{{list.description}}</th>
    {% if list.is_finished == False %}
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">Belum Selesai</th>
    {% else %}
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">Selesai</th>
    {% endif %}
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;"><a href="{% url 'todolist:switch_status' list.pk %}"><button>Switch</button></th>
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;"><a href="{% url 'todolist:delete_task' list.pk %}"><button>Hapus</button></th>
      <br></br>
    </tr>
{% endfor %}
</table>
<h5 style = "text-align: center; border-radius: 10px 10px 10px 10px; background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 5px;">Sesi terakhir login: {{ last_login }}</h5>
<br></br>

</body>
{% endblock content %}