{% extends 'base.html' %}

{% block content %}

<body style = "font-family:'Courier New'; padding: 5px; background-color: #D2DAFF; color: rgb(0, 0, 0);">
   <h5 style = "text-align:left;font-size: 24px; background-color: #AEBDCA; border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 5px; box-shadow: 5px 5px 5px #22302c;">Nama: {{nama}}</h5>
   <h5 style = "text-align:left;font-size: 24px; background-color: #AEBDCA; border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 5px; box-shadow: 5px 5px 5px #22302c;">NPM: {{NPM}} </h5>


<table>
    <tr>
    <th style = "text-align: center; background-color: #AEBDCA; color: rgb(0, 0, 0); padding: 5px; ">Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    
    {% for film in list_film %}
    <tr>
        <td style = "text-align: center; background-color: #AEBDCA; color: rgb(255, 255, 255); padding: 5px; " >{{film.watched}}</td>
        <td>{{film.title}}</td>
        <td>{{film.rating}}</td>
        <td>{{film.release_date}}</td>
        <td>{{film.review}}</td>
    </tr>
{% endfor %}

    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
</table>
</body>

{% comment %} Tambahkan data di bawah baris ini {% endcomment %}


{% endblock content %}